@tailwind base;

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Caudex', serif;
*/


/* Horizontal Scroll Changes */
/* xl: 1280px */
@media(min-width: 1280px) {

    body{
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    }

    .inner {
        display: flex;
        flex-direction: row;
        width: 300vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    
    .outer {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-text-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }

    .year-title {
        font-size: 10vmax;
    }
}
/* md: 768px */
@media(min-width: 768px) {

    body{
        background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    }

    .year-title {
        font-size: 6vmax;
    }

    .inner {
        display: flex;
        flex-direction: row;
        width: 300vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    
    .outer {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-text-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}


/* Horizontal Scroll Changes */

/* Mobile */
.outer {
    scrollbar-width: none;
        -ms-text-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }


    body {
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    }

    .nav-overlay {
        z-index: 99;
    }

    #nav-trigger {
        z-index: 98;
    }

    #nav-close {
        z-index: 100;
    } 

@tailwind components;
@tailwind utilities;