body {
    background:#FFF;
}

/* Horizontal Scroll Changes */
/* .inner {
    display: flex;
    flex-direction: row;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-text-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
} */
/* Horizontal Scroll Changes */


/* Navigation Menu */
.nav-overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    background-color: #3b3f3e;
    overflow-x: hidden;
    transition: all .3s;
}

.inner-menu {
    height: 100%;
    width: 100vw;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: center; */
    align-items: flex-end;
}

.inner-menu a {
    /* border: 1px solid black; */
    text-decoration: none;
    color: white;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6vmax;
    text-align: right;
    scroll-behavior: smooth;
    transition: all .3s ease;
}

.inner-menu a:hover {
    color: #f6712e;
}
#top-secret {
    font-family: 'Caudex', serif;
    font-weight: 600;
    font-style: normal;
    color: #3b3f3e;
    transition: all .3s ease;
}

#top-secret:hover {
    color: #464948;
}

#sources-text {
    font-size: 1.8vmax;
    font-family: aktiv-grotesk-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .3s ease;
}

#sources-text:hover {
    color: #25b8fd;
}

#nav-trigger {
    font-size: 20px;
    cursor: pointer;
    top: 20px;
    left: 20px;
    z-index: 97;
    color: tomato;
    position: fixed;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
}

#nav-trigger:hover {
    color: violet;
}

#nav-close {
    position: absolute;
    z-index: 99;
    top: 30px;
    right: 30px;
    cursor: pointer;
    text-decoration: none;
    font: 20px;
    color: tomato;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 900;
    font-style: normal;

}

.nav-sources {
    height: 100vh;
    width: 100vw;
    background-color: #c0c0c0;
    padding: 30px;
    position: absolute;
}

#nav-message {
    width: 50%;
    color: white;
    font-size: 1.8vmax;
    font-family: 'Caudex', serif;
    font-weight: 400;
    font-style: normal;
}

.nav-sources h3 {
    border: 1px solid black;
    font-size: 1.6vmax;
    font-family: 'Caudex', serif;
    font-weight: 400;
    font-style: italic;
    top: 50vh;
}

#go-back-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: white;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6vmax;
    text-align: right;
    padding: 30px;
    scroll-behavior: smooth;
    transition: all .3s ease;
}

#go-back-nav:hover {
color: #f6712e;
}
/* Navigation Menu */

/* Home page */
.hero {
    height: 100vh;
    width: 100vw;
    background-color: #0649A2;
}

::selection {
    color: #464948;
    background: #3b3f3e;
}

#title-text {
    padding-left: 30px;
    display: block;
    position: absolute;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100vw;
}

#title-text h1 {
    font-family: aktiv-grotesk-condensed, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 9vmax;
    text-transform: uppercase;
}

#title-bio {
    width: 3rem;
}

#title-bio h2 {
    font-family: aktiv-grotesk-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vmax;
    display: block;
    position: absolute;
    left: 30px;
    top: 50%;
}

#text1 {
    letter-spacing: 2.5px;
    margin: 10px;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#blackout-text1 {
    width: auto;
    margin: 10px;
    background-color: #3b3f3e;
    color: #3b3f3e;
    font-family: 'Caudex', serif;
    font-weight: 400;
    font-style: normal;
}

#blackout-text1::selection {
    color: #c0c0c0;
    background:  #464948;
  }

.begin-scroll {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.8vmax;
    display: block;
    position: absolute;
    bottom:0;
    text-align: right;
    width: 100vw;
    border-top: 1px solid black;
    padding: 30px;
}
/* Home page */

/* History - Section 1 */
.history-1 {
    height: 100vh;
    width: 100vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.section-title {
    padding: 30px;
    display: block;
    position: absolute;
    text-align: left;
    top: 50%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100vw;
}
.section-title h1 {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 8vmax;
    text-transform: uppercase;
}
/* History - Section 1 */

/* History - Section 2 */
.history-2 {
    height: 100vh;
    width: 100vw;
    /* background-color: #3b3f3e; */
    border-left: 1px solid black;
    border-right: 1px solid black;
}

