.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 50;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(255, 0, 255, 0.75);
    -moz-box-shadow: 0px 0px 257px 0px rgba(255, 0, 255, 0.75);
    box-shadow: 0px 0px 27px 0px rgba(255, 0, 255, 0.75);
  }